<div class="container text pageBody">
  <div class="text-center">
    <h1>{{ 'title3' | translate: param }}</h1>
  </div>
  <app-loader [isLoading]="isLoading"></app-loader>
  <div class="mera-text">{{ 'text31' | translate: param }}</div>
  <div class="mera-text">{{ 'text32' | translate: param }}</div>
  <div class="mera-text">{{ 'text33' | translate: param }}</div>
  <div class="mera-text">{{ 'text34' | translate: param }}</div>
  <div class="mera-text">{{ 'text35' | translate: param }}</div>
  <div class="mera-text">{{ 'text36' | translate: param }}</div>
  <div class="mera-text">{{ 'text37' | translate: param }}</div>
  <div class="mera-text">{{ 'text38' | translate: param }}</div>
  <ol>
    <li class="mera-text">{{ 'text39' | translate: param }}</li>
    <li class="mera-text">{{ 'text40' | translate: param }}</li>
    <li class="mera-text">{{ 'text41' | translate: param }}</li>
  </ol>
  <div class="mera-text">{{ 'text42' | translate: param }}</div>
  <div class="text-center">
    <button class="btn btn-primary" (click)="goTo()">{{ 'back' | translate: param }}</button>
  </div>
</div>
<simple-notifications></simple-notifications>
