/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

// Theme customization
@import "theme/theme";

body {
  text-align: left;
  background-color: #ffffff; /* rgba(52,56,63,.8);*/
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, Arial, sans-serif;
}
h1 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, Arial, sans-serif;
  color: #35484f;
  font-size: 24x;
  font-weight: 300;
  text-transform: none !important;
  letter-spacing: 0.3em;
  box-sizing: border-box;
}
h2 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, Arial, sans-serif;
  color: #35484f;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 400;
}
.mera-text {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, Arial, sans-serif;
  color: #34383f;
  font-size: 18px;
  opacity: 0.84;
  font-weight: 300;
  margin-bottom: 20px;
}

img {
  border: 0;
  padding-left: 20px;
  // width: 180px;
}

button {
  margin: 30px 0px;
}

.bottom-line {
  border-bottom: solid 1px #eee;
}

.top-line {
  border-top: solid 1px #eee;
  padding-top: 20px;
  margin-bottom: 20px;
}

a {
  color: #6a9dd3;
  &:hover {
    color: #df4e4b;
    text-decoration: none;
  }
}
